<div id="select-box" (click)="toggleArrow()">
    <div id="select-box-text">
        {{_currentSelection}}
    </div>
    <div id="dialog1" [ngClass]="isDownArrowEnabled ? 'down-arrow' : 'up-arrow'"></div>
</div>
<ng-container *ngIf="!isDownArrowEnabled">
    <div id="select-options">
        <div *ngFor="let option of options" (click)="optionSelection(option)"
            [ngClass]="{'selected-option-bg-color': _currentSelection === option?.[displayAttribute]}">
            {{option?.[displayAttribute]}}
        </div>
    </div>
</ng-container>